<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Context</title>
</head>
<body>
<h1>Friends list:</h1>
<ul>
    {% for single_friend in friends %}

        {% if single_friend == 'Leonid' %}
            <li>I am</li>
        {% else %}
            <li>{{ single_friend|default:'Имя не указано'|title }}</li>
        {% endif %}

    {% endfor %}
</ul>

</body>
</html>
